[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "commecometrics"]
	path = commecometrics
	url = https://github.com/mariahm1995/commecometrics
